<div style="text-align: left; padding: 2em;">
  <h1>What is this?</h1>
  <p>
    This is a game I created to help myself and others learn to pronounce
    Vietnamese properly.
  </p>
  <p>
    I was practicing Vietnamese on Duolingo when I realized I would often not even
    think about the tone of the words.
    I was able to translate each word based on the context and process of
    elimination rather than actually hearing the tone.
    While this was good enough to make progress, this realization was dissatisfying
    for someone who wanted to learn how to pronounce words properly.
  </p>
  <p>
    I created this game to remove all other variables and isolate the key skill I
    felt I was missing: the ability to recognize a word by tone alone.
  </p>
  <p>
    The game will prompt the player with a recording of a Vietnamese word and ask
    the player to select the correct spelling.
    Six different spellings will be presented, each with the same basic spelling
    but each with a different tonal inflection.
    Thus, the only way to select the correct word is to correctly identify the
    tone.
  </p>
  
  <h1>Who runs this web site?</h1>
  <p>
    This web site is created and maintained by Thomas Flucke
    (<a href="mailto:tflucke@protonmail.com">email</a>).
  </p>
  <p>
    Thomas is a graduate of California Polytechnic State University in San Luis
    Obispo and a professional systems programmer.
    In his spare time, Tom will often create web sites to provide little tools for
    himself and others who share a similar need.
  </p>
  
  <h1>Whose voice is the recordings?</h1>
  <p>
    The voice recordings were preformed by Huy Duong, another Cal Poly graduate and
    native Vietnamese speaker.
  </p>
</div>
