<div style="text-align: left; padding: 2em;">
  <h1>How can I contribute?</h1>
  <p>
    If you like this project and want to help, there are several ways anyone can
    make it better.
  </p>
  <h2>Voice Recordings</h2>
  <p>
    Fluent Vietnamese speakers can help by expanding the catalog of recordings.
    Please send high quality voice recordings to
    <a href="mailto:admin@tflucke.name">this email</a>, with how you would like to
    be credited.
    In order to eliminate the ability for players to determine the correct spelling
    from process of elimination, make sure to submit recordings in sets of all six
    tones and try to keep recording quality consistent.
  </p>
<!--
  <h2>Donations</h2>
  <p>
    Basic server upkeep and domain name registration incurs costs.
    You can donate to this project directly to offset these expenses.
  </p>
-->
  <h2>Code</h2>
  <p>
    Programmers can add features from the wish list to this project on
    <a href="https://github.com/tflucke/tone-game">github</a>.
    To contribute make a fork of the project, and submit a pull request with the
    new improvements.
  </p>
  <h3>Wish List</h3>
  <ul>
    <li>Permalink to a word</li>
    <li>Expanded word catalog</li>
    <li>More voice recordings</li>
    <li>Show translations after correct answer</li>
    <li>User progress tracking</li>
    <li>Adjustable difficulty</li>
  </ul>
</div>
